---
import { planets } from '@/data/planets'
import EmailIcon from '@/components/PlanetModal/renderers/svg/icons/Email.astro'
import GithubIcon from '@/components/PlanetModal/renderers/svg/icons/Github.astro'
import LinkIcon from '@/components/PlanetModal/renderers/svg/icons/Link.astro'
import LinkedinIcon from '@/components/PlanetModal/renderers/svg/icons/Linkedin.astro'
import ModalContent from '@/components/ModalContent/ModalContent.astro'
import ModalNavButton from '@/components/ModalNavButton/ModalNavButton.astro'
import SpotifyIcon from '@/components/PlanetModal/renderers/svg/icons/Spotify.astro'
import TwitterIcon from '@/components/PlanetModal/renderers/svg/icons/Twitter.astro'
import YoutubeIcon from '@/components/PlanetModal/renderers/svg/icons/Youtube.astro'
import '../ProjectCard/ProjectCard.css'
import './PlanetModal.css'
---

<dialog
  aria-describedby='modal-description'
  class='modal'
  data-planets={JSON.stringify(planets)}
  id='planet-modal'
>
  <div hidden id='svg-store' aria-hidden='true'>
    <span id='svg-email'><EmailIcon /></span>
    <span id='svg-github'><GithubIcon /></span>
    <span id='svg-link'><LinkIcon /></span>
    <span id='svg-linkedin'><LinkedinIcon /></span>
    <span id='svg-spotify'><SpotifyIcon /></span>
    <span id='svg-twitter'><TwitterIcon /></span>
    <span id='svg-youtube'><YoutubeIcon /></span>
  </div>
  <ModalNavButton direction='prev' />
  <ModalNavButton direction='next' />
  <ModalContent />
</dialog>

<script>
  import './modal.ts'
</script>
