---
import './LinkButton.css';

export interface LinkButtonProps {
  href: string;
}

const { href } = Astro.props;
const isSpotify = href.includes('open.spotify.com');
const isLinkedIn = href.includes('linkedin.com');
const isTwitter = href.includes('x.com') || href.includes('twitter.com');
const isGitHub = href.includes('github.com');
const isEmail = href.startsWith('mailto:');

const isSpotifyLabel = isSpotify && 'Escuchar en Spotify 🎙️';
const isLinkedInLabel = isLinkedIn && 'LinkedIn 🔗';
const isTwitterLabel = isTwitter && 'X / Twitter 🐦';
const isGitHubLabel = isGitHub && 'GitHub 🔗';
const isEmailLabel = isEmail && 'Enviar correo 📧';

const label = isSpotifyLabel || isLinkedInLabel || isTwitterLabel || isGitHubLabel || isEmailLabel || 'Ver proyecto 🔗';
---

<a class="link-button" href={href} rel="noopener noreferrer" target="_blank">{label}</a>
