---
import BaseLayout from '@/layouts/BaseLayout.astro'
import Stars from '@/components/Stars/Stars.astro'
import Flyer from '@/components/Flyer/Flyer.astro'
import SolarSystem from '@/components/SolarSystem/SolarSystem.astro'
import PlanetModal from '@/components/PlanetModal/PlanetModal.astro'
import Footer from '@/components/Footer/Footer.astro'
import Header from '@/components/Header/Header.astro'
---

<BaseLayout>
  <Header />
  <Stars />
  <Flyer />
  <main
    class='main'
    id='main-content'
    tabindex='-1'
  >
    <SolarSystem />
  </main>
  <PlanetModal />
  <Footer />
</BaseLayout>

<style>
  .main {
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    padding: 80px 24px;
  }
</style>
