---
import BaseLayout from '../layouts/BaseLayout.astro';
import Stars from '../components/Stars/Stars.astro';
import Spaceship from '../components/Spaceship/Spaceship.astro';
import SolarSystem from '../components/SolarSystem/SolarSystem.astro';
import PlanetModal from '../components/PlanetModal/PlanetModal.astro';
import Header from '../components/Header/Header.astro';
---

<BaseLayout>
  <Header />
  <Stars />
  <Spaceship />
  <main class="main">
    <SolarSystem />
  </main>
  <PlanetModal />
</BaseLayout>

<style>
  .main {
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    padding: 80px 24px;
  }
</style>
