---
import './ModalHeader.css';
---

<div class="modal-header">
  <h2
    class="modal-title"
    id="modal-title"
  />
  <button
    aria-label="Cerrar"
    class="modal-close"
    id="modal-close"
  >✕</button>
</div>
