---
import './Header.css';
---

<header class="header">
  <div class="header-left">
    <div class="header-name">Martín Calderón</div>
    <div class="header-tagline">Portfolio Creativo</div>
  </div>
  <div class="header-right">
    <div class="header-uni">
      UBA / FSOC / COMU<br />
      Creatividad Publicitaria
    </div>
  </div>
</header>
