---
import ModalHeader from '../ModalHeader/ModalHeader.astro';
import './ModalContent.css';
---

<div class="modal-content" id="modal-content-scroll">
  <ModalHeader />
  <p class="modal-subtitle" id="modal-subtitle" />
  <p class="modal-description" id="modal-description" />
  <p class="modal-song">🎵 Música que escuché mientras hacía esta sección:</p>
  <div class="embed-wrapper" id="embed-wrapper" />
  <div id="modal-projects" />
  <div id="modal-experiences" />
</div>
