---
import { planets } from '../../data/portfolio'
import Planet from '../Planet/Planet.astro'
import './SolarSystem.css'

const orbitRadii = [
  '--orbit-mercury',
  '--orbit-venus',
  '--orbit-earth',
  '--orbit-mars',
  '--orbit-jupiter',
  '--orbit-saturn',
  '--orbit-uranus',
  '--orbit-neptune'
]
---

<div class='solar-system-wrapper'>
  <nav aria-label='Secciones del portfolio'>
    <div class='solar-system'>
      {
        orbitRadii.map((radiusVar) => (
          <div
            class='orbital-ring'
            style={{
              width: `calc(var(${radiusVar}) * 2)`,
              height: `calc(var(${radiusVar}) * 2)`
            }}
          />
        ))
      }

      {planets.map((planet, index) => <Planet planet={planet} index={index} />)}
    </div>
  </nav>
</div>
