---
import { planets } from '../../data/planets'
import Planet from '../Planet/Planet.astro'
import './SolarSystem.css'

const ORBIT_DIAMETER_MULTIPLIER = 2

const orbitRadiusVars = [
  '--orbit-mercury',
  '--orbit-venus',
  '--orbit-earth',
  '--orbit-mars',
  '--orbit-jupiter',
  '--orbit-saturn',
  '--orbit-uranus',
  '--orbit-neptune'
]

interface GetOrbitDiameterParams {
  radiusVar: string
}

const getOrbitDiameter = ({ radiusVar }: GetOrbitDiameterParams) =>
  `calc(var(${radiusVar}) * ${ORBIT_DIAMETER_MULTIPLIER})`
---

<div class='solar-system-wrapper'>
  <nav aria-label='Secciones del portfolio'>
    <div class='solar-system'>
      {
        orbitRadiusVars.map((radiusVar) => {
          const orbitDiameter = getOrbitDiameter({ radiusVar })

          return (
            <div
              class='orbital-ring'
              style={{
                height: orbitDiameter,
                width: orbitDiameter
              }}
            />
          )
        })
      }

      {planets.map((planet, index) => <Planet planet={planet} index={index} />)}
    </div>
  </nav>
</div>
